@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexBetweenSpace {
    display: flex;
    justify-content: space-between;
}

@mixin marginCenter {
    margin-left: auto;
    margin-right: auto;
}