$header-background: #1f1c36;
$modalWindow-background: #e3e4e4;
$news-background: #e3e4e4;
$news-color: #909193;
$about_us-background: $header-background;
$standart_padding: 10px;
$color_value1: #031f73;