@use "values";
@use "mixins";
@use "config";

* {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.pag {
    @include mixins.flexCenter;
}

.a-button {
    text-decoration: underline;
    color: white;

    &:hover {
        text-decoration: none;
    }
}

.a-button-black {
    @extend .a-button;
    color: black;
}

header {
    background-color: values.$header-background;
    height: 35px;
    @include mixins.flexBetweenSpace;
    padding: 5px;

    .header__button {
        color: white;
        text-decoration: none;
        margin-right: 10px;
        cursor: pointer;

        &:hover {
            border-bottom: 1px solid white;
            color: white !important;
        }
    }

    .header__modalWindow {
        background-color: values.$modalWindow-background;
        padding: 20px;
        width: 400px;
        // margin-right: 10px;
        position: absolute;
        left: 0px;
    }
}

.post_header {
    @include mixins.flexBetweenSpace;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: white;
}

.contacts {
    float: inline-end;
    padding: 20px;
    .number {
        margin-top: 5px;
        font-weight: bold;
        font-size: 25px;
        color: values.$header-background;
    }
    .text {
        @extend .number;
        font-size: 15px;
        font-weight: 200;
    }
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    @include mixins.marginCenter;
    height: 1000px;
    width: 66.6%;
    display: grid;
    gap: 20px;

    .news {
        background-color: values.$news-background;
        padding: values.$standart_padding;
        @include mixins.flexBetweenSpace;

        h1,
        h2,
        h3,
        h4,
        h5 {
            color: values.$news-color;
        }

        .text {
            width: 200px;
            margin: 0;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .one_news {
            .one_news_date {
                color: values.$color_value1;
            }
        }
    }

    .about_us {
        background-color: values.$about_us-background;
        padding: values.$standart_padding;

        h1,
        h2,
        h3,
        h4,
        h5,
        p,
        a {
            color: white;
        }
    }

    .about_us_page {
        button {
            width: 100%;
            background-color: yellow;
        }
        .spoiler {
            padding-top: 50px;
        }

        .spoiler__main {
            border-radius: 0px !important;
            border: none !important;
        }
    }

    .info {
        @include mixins.flexBetweenSpace;
        padding-top: 20px;
        .text {
            width: 70%;
            line-height: 18px;
            font-size: 13px;
        }
    }

    .contacts-page {
        // @include mixins.flexBetweenSpace;
        color: white;
        .one {
            background-color: values.$header-background;
            padding: values.$standart_padding;
            line-height: 18px;
            font-size: 13px;
        }

        .procherk {
            height: 20px;
            background-color: yellow;
        }
    }

    $image_size: 360px;

    .category_page {
        display: grid;
        grid-template-columns: repeat(3, $image_size);
        gap: 10px;
        justify-content: space-around;
        height: 500px;

        .category {
            text-align: center;
            .category_image {
                width: $image_size;
            }
            .category_name {
                margin-top: 5px;
                color: black;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    // .news_detail_page {
    //     @include mixins.flexBetweenSpace;
    //     .news_detail_page__left {
    //         width: 20%;
    //     }

    //     .news_detail_page__right {
    //         width: 70%;

    //         .carousel_size {
    //             width: 70%;
    //             @include mixins.marginCenter;
    //         }
    //     }
    // }

    .category_name2 {
        margin-top: 5px;
        color: black;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

    .category_index {
        // background: gray;
    }

    .main_news {
        @include mixins.flexBetweenSpace;

        .year_component {
            padding: 20px;
            width: 20%;
            background-color: values.$header-background;
            color: white;
            a {
                @extend .a-button;
            }
        }

        .news_component {
            width: 70%;
            .date {
                color: gray;
            }
            .one_news {
                margin-top: 30px;
            }
        }
    }
}
