{% extends "main/layouts/basic.html" %}
{% load static %}
{% block title %}
    О нас
{% endblock title %}
{% block content %}
    <div class="about_us_page">
        <h1 class="text-center">О предприятии Борхиммаш</h1>
        <div class="info">
            <img width="auto" height="auto" src="{% static "img/1.jpg" %}" alt="photo">
            <div class="text">
                <p>
                    Акционерное общество «Борисоглебский ордена Трудового Красного Знамени завод химического машиностроения» обладает более чем 40-летним опытом производства теплообменного оборудования. На объектах наших заказчиков находится в эксплуатации свыше 6000 единиц изготовленного предприятием теплообменного оборудования. В настоящее время АО "Борхиммаш" является крупнейшим производителем аппаратов воздушного охлаждения в СНГ и Восточной Европе.
                    На производственных площадях АО «Борхиммаш», которые составляют более 81 000 м2, располагается парк современного сварочного и станочного оборудования от известных мировых производителей. На заводе внедрена система качества ISO 9001 и СТО Газпром. Тепловые расчеты и проектирование аппаратов проводятся с помощью программного обеспечения ХАСЕ, предоставленного заводу в рамках членства в Международной ассоциации производителей теплообменного оборудования HTRI, и системы автоматизированного проектирования документации от компании АСКОН (PLM-система ЛОЦМАН, CAD-система КОМПАС и CAPP-система ВЕРТИКАЛЬ). С 2013 г. для расчета кожухотрубчатых теплообменников используется программное обеспечение XIST. Это в значительной степени ускоряет процессы комплексной разработки и изготовления продукции, обеспечивая условия для удовлетворения требований заказчика.
                    На территории завода расположена ЦЗЛ, в функции которой входит входящий контроль качества используемого материала, разрушающий и неразрушающий контроль сварочных соединений. В заводской ЦЗЛ применяются следующие методы контроля выпускаемого оборудования:
                    Рентгенография;
                    Механические испытания;
                    Гидроиспытания;
                    Испытания под давлением;
                    Химический анализ.
                    АО «Борхиммаш» – один из ведущих поставщиков аппаратов воздушного охлаждения для ПАО «Газпром», в том числе для важнейших объектов его инвестиционной программы, таких как КС "Русская" МГ "Южный коридор", магистральные газопроводы Бованенково – Ухта – Торжок, Грязовец – Выборг, Сахалин – Хабаровск – Владивосток и других.
                </p>
            </div>
        </div>
        <div class="spoiler">
            <button type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseExample"
                    aria-expanded="false"
                    aria-controls="collapseExample">ИСТОРИЯ ПРЕДПРИЯТИЯ</button>
            <div class="collapse spoiler__main" id="collapseExample">
                <div class="card card-body">
                    <p>
                        Выпуск теплообменного оборудования на заводе начался в 1965 г., когда на базе «Борисоглебского вагоноремонтного завода», основанного в 1869 г., был создан «Борисоглебский завод химического машиностроения».
                        За короткое время на заводе было освоено производство теплообменной аппаратуры для химических, нефтехимических, газоперерабатывающих, целлюлозно-бумажных производств в соответствии с требованиями «Правил устройств и безопасности эксплуатации сосудов, работающих под давлением».Предприятие начало выпуск аппаратов воздушного охлаждения (АВО) различных модификаций (АВМ, АВЗ и другие), ёмкостной аппаратуры, кожухотрубчатых теплообменных аппаратов, теплообменников типа «труба в трубе», концевых холодильников для передвижных компрессорных установок, воздухосборников.
                        В 1969 г. за успешно выполнение заданий по выпуску теплообменного оборудования завод был награжден орденом Трудового Красного Знамени.
                        В 1975 г. заводом было впервые освоено изготовление аппаратов воздушного охлаждения природного газа с коллекторами входа и выхода продукта для компрессорных станций магистральных газопроводов 2АВГ-75, 2АВГ-100 на давление газа 75 и 100 атм., в том числе и в северном исполнении.
                        На базе аппарата 2АВГ-75 разработан аппарат 2АВГ-75СВ из материалов, устойчивых к коррозийному растрескиванию со специальными требованиями к технологии изготовления аппарата. Патент на изобретение №2239533, зарегистрировано в Государственном реестре изобретений.
                        В 1993 г. АО «Борхиммаш» начал выпуск аппаратов воздушного охлаждения газа 1АВГ-160, АВГ-160Р коллекторного типа.
                        С 2000 по 2005 г. завод совместно с проектным институтом ОАО «ВНИИнефтемаш» освоил новый номенклатурный ряд блочно-модульных АВО, в том числе с системой рециркуляции нагретого воздуха, что является особенно актуальным для газпромысловых предприятий Крайнего Севера.
                        В 2008 г. разработан и изготовлен новый аппарат воздушного охлаждения газа блочно-модульного исполнения с условным давлением 135 атм. АВГ-БМ-135. Данный аппарат предназначен для охлаждения газа в технологических процессах предприятий нефтегазового комплекса. Особенностью аппарата являются камеры неразъемной конструкции, части которых соединены сваркой и имеют большую прочность и герметичность.
                        В 2009 г. АО «Борхиммаш» спроектировал линейку принципиально новых для российских производителей блочно-модульных АВО нового поколения камерного типа «Айсберг», металлоконструкции которого изготавливаются с применением метода горячего оцинкования. Аппараты могут работать на давление от 5,4 до 32,0 МПа. Первые аппараты были изготовлены и поставлены для обустройства Бованенковского газоконденсатного месторождения, п-в Ямал (ОАО «ГАЗПРОМ»).
                        В 2012 г. при проектировании оборудования для КС "Русская" инженерами АО «Борхиммаш» в сотрудничестве с ведущими научно-исследовательскими институтами была решена сложная техническая задача по достижению параметров: рабочее давление газа – 28,5 МПа; сейсмическая активность – 8 баллов. На сегодняшний день на базе крупнейшего научно-исследовательского института, изучающего проблемы прочности материалов под действием высокого давления, "ИркутскНИИХиммаш" прошел испытания опытный образец камеры со всеми узлами АВО, работающими под давлением на циклические и пиковые нагрузки. Камера без разрушения выдержала испытания на циклическую нагрузку (по 1000 циклов) рабочим давлением 28,5 МПа и пробным 42,5 МПа.
                        В настоящее время «Борисоглебский ордена Трудового Красного Знамени завод химического машиностроения» - это динамично развивающееся акционерное общество в составе группы компаний «Лимонте». Продукция завода широко используется в технологических процессах охлаждения нефтегазодобывающей, нефтегазоперерабатывающей, нефтехимической и других отраслях промышленности. Основной специализацией завода является выпуск оборудования для охлаждения природного газа на дожимных компрессорных станциях газовых промыслов, компрессорных станциях магистральных газопроводов и компрессорных станциях подземного хранения газа.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
