<!-- Тут хранятся бланки заказов -->
{% extends "main/layouts/basic.html" %}
{% block title %}
Бланки заказа
{% endblock title %}

{% block content %}
<div class="blanks_page">
 <h1 class="text-center">Бланки заказов</h1>
  {% if document_forms|length > 0 %}
  {% for document_form in document_forms %}
  <div class="blank">
    <a href="{{ document_form.file.url }}">{{ document_form.title }}</a>
    <p>{{ document_form.text }}</p>
  </div>
  {% endfor %}
  {% else %}
  <p class="text-center">Доступных документов на данный момент нет</p>
  {% endif %}
</div>
{% endblock content %}
