{% extends "main/layouts/basic.html" %}
{% block title %}
    Главная страница
{% endblock title %}
{% block content %}
    <div class="news">
        <div>
            <h4>НОВОСТИ</h4>
            <a class="news__button" href="{% url "year" today_year %}">архив новостей</a>
        </div>
        {% if news|length > 0 %}
            {% for one_news in news %}
                <div class="one_news">
                    <p class="one_news_date">{{ one_news.date }}</p>
                    <div class="text">
                        <p>{{ one_news.title }}</p>
                    </div>
                    <a href="{% url "news_detail" one_news.id %}">подробнее</a>
                </div>
            {% endfor %}
        {% else %}
            <div class="text-center">Новостей нет</div>
        {% endif %}
    </div>
    <div class="about_us">
        <h4>О ПРЕДПРИЯТИИ</h4>
        <div>
            <p>
                Акционерное общество «Борисоглебский ордена Трудового Красного Знамени завод химического машиностроения» специализируется на производстве  аппаратов воздушного охлаждения,  кожухотрубчатых теплообменников ,  систем автоматического управления, технических емкостей,  арматурных блоков. При поставках оборудования на объекты заказчиков осуществляются шеф-монтажные и пусконакладочные работы. Предоставляются услуги гарантийного и сервисного обслуживания.
            </p>
        </div>
        <a href="{% url "about_us" %}">перейти на страницу</a>
    </div>
    <div class="category">
        <h4>Категории</h4>
        {% if categories|length > 0 %}
            <button class="btn btn-primary" onclick="route('{% url 'category' %}')">Все категории</button>
            <div class="categories">
                {% for category in categories %}
                    <div class="wrapper">
                        <button class="btn btn-secondary button-margin" onclick="route('{% url "products" category.id %}')">{{ category.name }}</button>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center">Категорий нет</p>
        {% endif %}
    </div>
{% endblock content %}
