* {
  padding: 0;
  margin: 0;
}

.default_image_size {
  width: 360px !important;
  height: 180px !important;
}

.success_message {
  background-color: white;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-buttons {
  position: relative;
}
.menu-buttons .modal_window {
  position: absolute;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  left: 0;
  padding: 1rem 1.5rem;
  min-width: 200px;
  z-index: 10;
  font-size: 0.95rem;
  color: #333;
}
.menu-buttons .modal_window.show {
  display: block;
  animation: fadeInScale 0.25s ease forwards;
}
.menu-buttons .modal_window.hidden {
  display: none;
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.pag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-button, main .main_news .year_component a, .a-button-black, main .product_page a {
  text-decoration: underline;
  color: white;
}
.a-button:hover, main .main_news .year_component a:hover, .a-button-black:hover, main .product_page a:hover {
  text-decoration: none;
}

.a-button-black, main .product_page a {
  color: black;
}

.burger {
  display: none;
}

header .main_menu_buttons {
  background-color: #1f1c36;
  height: 35px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
header .main_menu_buttons .header__button, header .main_menu_buttons .menu-buttons .click {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}
header .main_menu_buttons .header__button:hover, header .main_menu_buttons .menu-buttons .click:hover {
  border-bottom: 1px solid white;
  color: white !important;
}
header .main_menu_buttons .dropdown__button {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}
header .main_menu_buttons .dropdown__content {
  background-color: #e3e4e4;
  padding: 20px;
  width: 400px;
  position: absolute;
  z-index: 1;
}

.post_header {
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: white;
}

.contacts {
  float: inline-end;
  padding: 20px;
}
.contacts .number, .contacts .text {
  margin-top: 5px;
  font-weight: bold;
  font-size: 25px;
  color: #1f1c36;
}
.contacts .text {
  font-size: 15px;
  font-weight: 200;
}

body {
  background-image: url("../img/background.jpg");
  background-repeate: no-repeate;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 1000px;
  width: 66.6%;
  display: grid;
  gap: 20px;
}
main .blanks_page {
  background-color: white;
  padding: 30px;
}
main .auth {
  background-color: white;
  padding: 30px;
  margin-bottom: auto;
}
main .feedback_page {
  background-color: white;
  padding: 30px;
  margin-bottom: auto;
}
main .news {
  background-color: #e3e4e4;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
main .news h1,
main .news h2,
main .news h3,
main .news h4,
main .news h5 {
  color: #909193;
}
main .news .text {
  width: 200px;
  margin: 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
main .news .one_news .one_news_date {
  color: #031f73;
}
main .about_us {
  background-color: #1f1c36;
  padding: 10px;
}
main .about_us h1,
main .about_us h2,
main .about_us h3,
main .about_us h4,
main .about_us h5,
main .about_us p,
main .about_us a {
  color: white;
}
main .about_us_page {
  background-color: white;
  padding-top: 30px;
}
main .about_us_page .info {
  padding: 30px;
  padding-top: 20px;
}
main .about_us_page .text {
  margin-top: 20px;
}
main .about_us_page .open {
  width: 100%;
  background-color: yellow;
}
main .about_us_page .spoiler {
  padding-top: 50px;
}
main .about_us_page .spoiler__main {
  border-radius: 0px !important;
  border: none !important;
}
main .main_contact_page {
  background-color: white;
  padding: 30px;
}
main .main_contact_page h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
main .main_contact_page .contacts-page {
  color: white;
}
main .main_contact_page .contacts-page .one {
  background-color: #1f1c36;
  padding: 10px;
  line-height: 18px;
  font-size: 13px;
}
main .main_contact_page .contacts-page .procherk {
  height: 20px;
  background-color: yellow;
}
main .main_category_page {
  background-color: white;
  padding: 30px;
}
main .main_category_page .category_page {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 10px;
  justify-content: space-around;
  height: 500px;
}
main .main_category_page .category_page .category_section {
  text-align: center;
}
main .main_category_page .category_page .category_section .category_image {
  width: 360px;
}
main .main_category_page .category_page .category_section .category_name {
  margin-top: 5px;
  color: black;
  text-decoration: underline;
}
main .main_category_page .category_page .category_section .category_name:hover {
  text-decoration: none;
}
main .category_name2 {
  margin-top: 5px;
  color: black;
  text-decoration: underline;
}
main .category_name2:hover {
  text-decoration: none;
}
main .main_news {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
main .main_news .year_component {
  padding: 20px;
  width: 20%;
  background-color: #1f1c36;
  color: white;
}
main .main_news .news_component {
  width: 70%;
  padding-top: 30px;
  padding-right: 30px;
}
main .main_news .news_component .date {
  color: gray;
}
main .main_news .news_component .one_news {
  margin-top: 30px;
}
main .category {
  padding: 10px;
  background-color: #e3e4e4;
}
main .category h4, main .category h5 {
  color: #909193;
}
main .category .categories {
  display: flex;
  flex-wrap: wrap;
}
main .category .categories .wrapper {
  margin-top: 10px;
}
main .category .button-margin {
  margin-right: 10px;
}
main .category a {
  display: block;
  margin-right: 10px;
}
main .main_product_page {
  background-color: white;
  padding: 30px;
}
main .product_page {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
}
main .product_page a {
  display: block;
}
main .product_detail_page {
  background-color: white;
  display: grid;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}
main .product_detail_page img {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
main .product_detail_page .text {
  width: 80%;
  word-wrap: normal;
}

@media (max-width: 1080px) {
  header .main_menu_buttons {
    background-color: #1f1c36;
    position: absolute;
    left: 0;
    top: 0;
  }
  header .main_menu_buttons .header__button, header .main_menu_buttons .menu-buttons .click {
    color: white;
    text-decoration: none;
    margin-right: 0;
  }
  header .main_menu_buttons .header__button:hover, header .main_menu_buttons .menu-buttons .click:hover {
    border-bottom: 1px solid white;
    color: white !important;
  }
  header .main_menu_buttons.show {
    display: block;
  }
  header .main_menu_buttons.hidden {
    display: none;
  }
  main {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 0;
    height: auto;
    display: grid;
    margin-right: 0;
    margin-left: 0;
    gap: 20px;
  }
  main .news {
    background-color: #e3e4e4;
    padding: 10px;
    display: block;
  }
  main .news h1,
  main .news h2,
  main .news h3,
  main .news h4,
  main .news h5 {
    color: #909193;
  }
  main .news .text {
    width: 200px;
    margin: 0;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  main .news .one_news {
    margin-top: 30px;
  }
  main .news .one_news .one_news_date {
    color: #031f73;
  }
  main .news__button {
    margin-bottom: 20px;
  }
  .burger {
    display: block;
    position: fixed;
    border: 1px solid black;
    left: 0;
    border-radius: 0px 5px 5px 0px;
    top: 50px;
    z-index: 1;
    background-color: white;
  }
  .contacts {
    display: none;
  }
  .post_header {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-buttons {
    position: static;
  }
  .menu-buttons .modal_window {
    display: none;
  }
  .menu-buttons .modal_window.show {
    display: none;
  }
  .menu-buttons2 {
    width: 100%;
    border-bottom: 1px solid black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
  .main_category_page {
    background-color: white;
    padding: 30px;
  }
  .main_category_page .category_page {
    display: grid !important;
    grid-template-columns: none !important;
    gap: 10px !important;
    justify-content: center !important;
    height: auto !important;
  }
  .main_category_page .category_page .category_section {
    text-align: center;
    margin-bottom: 20px;
  }
  .main_category_page .category_page .category_section .category_image {
    width: 360px;
  }
  .main_category_page .category_page .category_section .category_name {
    margin-top: 5px;
    color: black;
    text-decoration: underline;
  }
  .main_category_page .category_page .category_section .category_name:hover {
    text-decoration: none;
  }
}

/*# sourceMappingURL=main.css.map */
