* {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

header {
  background-color: #1f1c36;
  height: 35px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
header .header__button {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}
header .header__button:hover {
  border-bottom: 1px solid white;
  color: white !important;
}
header .header__modalWindow {
  background-color: #e3e4e4;
  padding: 20px;
  width: 400px;
  position: absolute;
  left: 0px;
}

.post_header {
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: white;
}

.contacts {
  float: inline-end;
  padding: 20px;
}
.contacts .number, .contacts .text {
  margin-top: 5px;
  font-weight: bold;
  font-size: 25px;
  color: #1f1c36;
}
.contacts .text {
  font-size: 15px;
  font-weight: 200;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 1000px;
  width: 66.6%;
  display: grid;
  gap: 20px;
}
main .news {
  background-color: #e3e4e4;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
main .news h1,
main .news h2,
main .news h3,
main .news h4,
main .news h5 {
  color: #909193;
}
main .news .text {
  width: 200px;
  margin: 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
main .news .one_news .one_news_date {
  color: #031f73;
}
main .about_us {
  background-color: #1f1c36;
  padding: 10px;
}
main .about_us h1,
main .about_us h2,
main .about_us h3,
main .about_us h4,
main .about_us h5,
main .about_us p,
main .about_us a {
  color: white;
}
main .about_us_page button {
  width: 100%;
  background-color: yellow;
}
main .about_us_page .spoiler {
  padding-top: 50px;
}
main .about_us_page .spoiler__main {
  border-radius: 0px !important;
  border: none !important;
}
main .info {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
main .info .text {
  width: 70%;
  line-height: 18px;
  font-size: 13px;
}
main .contacts-page {
  color: white;
}
main .contacts-page .one {
  background-color: #1f1c36;
  padding: 10px;
  line-height: 18px;
  font-size: 13px;
}
main .contacts-page .procherk {
  height: 20px;
  background-color: yellow;
}
main .category_page {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 10px;
  justify-content: space-around;
  height: 500px;
}
main .category_page .category {
  text-align: center;
}
main .category_page .category .category_image {
  width: 360px;
}
main .category_page .category .category_name {
  margin-top: 5px;
  text-decoration: underline;
}
main .news_detail_page {
  display: flex;
  justify-content: space-between;
}
main .news_detail_page .news_detail_page__left {
  width: 20%;
}
main .news_detail_page .news_detail_page__right {
  width: 70%;
}
main .news_detail_page .news_detail_page__right .carousel_size {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=main.css.map */
