{% load django_vite %}
{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        {% vite_hmr_client %}
    </head>
    <body>
        <header>
        
        <!-- Бланки заказа -->
            <div class="menu-buttons">
                <a class="click" href="javascript:void(0)">Бланки заказа</a>
                <div class="modal_window hidden">
                    {% if document_forms|length > 0 %}
                        {% for document_form in document_forms %}
                            <a href="{{ document_form.file.url }}">{{ document_form.title }}</a>
                            <p>{{ document_form.text }}</p>
                        {% endfor %}
                    {% else %}
                        <p>Доступных документов на данный момент нет</p>
                    {% endif %}
                </div>
            </div>
            
            <!-- Контакты -->
            <div class="menu-buttons">
                <a class="click" href="javascript:void(0)">Контакты</a>
		<div class="modal_window hidden">
                    <p>
                        АО «БОРХИММАШ»
                        397164, Воронежская обл.,
                        г. Борисоглебск, ул. Проходная, 4А
                    </p>
                    <p>
                        Тел.: (8888) 8-88-88
                        Факс: (8888) 8-88-88, 8-88-88, 8-88-88
                    </p>
                    <p>
                        «Горячая линия» круглосуточной технической поддержки 8-888-888-88-88
                        ГК «Лимонте»
                    </p>
                    <p>
                        Тел.: (888) 888-88-88
                        Факс: (888) 888-88-88
                    </p>
                    <a href="{% url "contacts" %}">Перейти на страницу контактов</a>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div>
                    <form id="logout-form"
                          method="post"
                          action="{% url 'logout' %}"
                          class="hidden">
                        {% csrf_token %}
                    </form>
                    <a class="header__button"
                       onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Выход</a>
                </div>
                <div>
                    <a class="header__button"  href="{% url "feedback" %}">Обратная связь</a>
                </div>
            {% else %}
                <div>
                    <a href="{% url "register" %}" class="header__button">Регистрация</a>
                </div>
                <div>
                    <a href="{% url "login" %}" class="header__button">Авторизация</a>
                </div>
            {% endif %}
        </header>
        <div class="post_header">
            <div>
                <a href="{% url "main" %}">
                    <img width="auto"
                         height="auto"
                         src="{% static "img/borchim.png" %}"
                         alt="logo">
                </a>
            </div>
            <div class="contacts">
                <p class="text">КОНТАКТНЫЙ ТЕЛЕФОН</p>
                <p class="number">888-888-88-88</p>
                <p class="number">888-888-88-88</p>
                <p class="text">
                    ТЕХНИЧЕСКАЯ ПОДДЕРЖКА
                    КРУГЛОСУТОЧНО
                </p>
                <p class="number">888-888-88-88</p>
            </div>
        </div>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/button_route.js" %}"></script>
        <script src="{% static "js/header_menu.js" %}"></script>
    </body>
</html>
